:root{
    --negro: #0F0F0F;
    --gris: #232D3F;
    --verdeFuerte: #005B41;
    --verdeClaro: #008170;
    --verdefuerte: #053B50;
    --verde: #176B87;
    --verdeclaro: #64CCC5;
    --gris: #EEEEEE;
    --negro: hsl(0, 0%, 0%);
    --morado: #262A56;
    --naranja: #B8621B;
    --naranja2: #E3651D;
    --rojo: #750E21;
    --carne: #E3CCAE;
    --amarillo: #BED754;

}

* {
    margin: 0;
    padding: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
html{
    font-size: 62.5%;
    background-color: var(--carne);
}

h1,h2,h3{
    text-align: center;
}

h1{
    color: var(--negro);
    font-size: 3.5rem;
}
span{
    color: var(--verdeFuerte);
    font-size: 1.5rem;
}

.regresar{
    text-decoration: none; color: black;
}
.regresar:hover{
    color: var(--naranja);
}

.contenedor-general{
    margin:3rem 15%;
    height: 140rem;
    margin: blue;
    display: flex;
    border: none;
}

.contenedor-lateral{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    background-color: var(--morado);
    border-radius: 2rem;
}

.contenedor-avatar{
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    border-radius: 50%;
    background-color: var(--carne);
    width: 20rem;
    height: 20rem;
    align-items: center;
    border: solid black 0.5rem;
    border-color: var(--verdeFuerte);
}

.avatar{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.nombre{
    margin: 1rem 3rem;
    font-size: 3rem; text-align: center; justify-content: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.descripcion-general{
    margin: 1.8rem 3rem;
    font-size: 1.6rem;  justify-content: center;
    color: white;
}

.encabezado-lateral{
    display: flex;
    width: 100%;
    background-color: var(--naranja);
    height: 5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.3rem;
}

.contenedor-icono-lateral{
    display: flex;
    justify-content: center;
    margin: auto 1rem;
    border-radius: 50%;
    background-color: white;
    width: 5rem;
    height: 5rem;
    align-items: center;
    background-color: var(--carne);
}

.icono-lateral{
    height: 75%;
}

.nombre-dato{
    font-size: 2rem;
    color: var(--morado);
    margin: auto 7%;
}

.contenedor-iconoytexto{
    height: 4rem;
    width: 80%;
    display: flex;
    margin: 0.5rem;
}

.icono-2{
    width: 3.5rem;
    height: 100%;
}

.texto-dentro{
    font-size: 1.5rem;
    color: white;
    margin: auto 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.lista-cualidades{
    font-size: 1.5rem;
    color: white;
    margin: 1rem 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lista-cualidades li{
    margin-bottom: .7rem;
}

.contenedor-1{
    width: 100%;
    height: 38rem;
    border-bottom: black double .5rem;
    display: flex;
}

.contenedor-resumen{
    display: flex;
    flex-direction: row;
    width: 5rem;
    height: 90%;
    background-color: var(--naranja);
    margin: 0rem .5rem;
    text-align: center;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor-resumen h2{
    transform: rotate(270deg);
    font-size: 3rem;
    color: white;
}

.contenedor-resumen2{
    font-size: 1.8rem;
    text-align: justify;
    margin: 2rem 5rem;
    
}

.resumen{
    margin: 1rem;
}

.contenedor-2{
    width: 100%;
    height: 100rem;
    display: flex;
}

.contenedor-experiencia{
    display: flex;
    flex-direction: row;
    width: 5rem;
    height: 100%;
    background-color: var(--naranja);
    margin: 1rem .5rem;
    text-align: center;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    white-space: nowrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor-experiencia h2{
    transform: rotate(270deg);
    font-size: 3rem;
    color: white;
}

.contenedor-experiencia2{
    height: 100%rem;
    width: 100%;
    margin: 2.5rem 4rem;
}

.encabezado-experiencia{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-experiencia{
    width: 8.5rem;
    height: 100%;
}

.escuela{
    height: 100%;
    width: 25rem;
}

.contenedor-experiencia3{
    height: 25rem;
    width: 100%;
    margin: 2.5rem 10rem;
    margin: 5rem auto;
}

.degradado {
    background: rgba(101,192,241,1);
background: -moz-linear-gradient(left, rgba(101,192,241,1) 0%, rgba(101,192,241,1) 13%, rgba(27,182,161,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(101,192,241,1)), color-stop(13%, rgba(101,192,241,1)), color-stop(100%, rgba(27,182,161,1)));
background: -webkit-linear-gradient(left, rgba(101,192,241,1) 0%, rgba(101,192,241,1) 13%, rgba(27,182,161,1) 100%);
background: -o-linear-gradient(left, rgba(101,192,241,1) 0%, rgba(101,192,241,1) 13%, rgba(27,182,161,1) 100%);
background: -ms-linear-gradient(left, rgba(101,192,241,1) 0%, rgba(101,192,241,1) 13%, rgba(27,182,161,1) 100%);
background: linear-gradient(to right, rgba(101,192,241,1) 0%, rgba(101,192,241,1) 13%, rgba(27,182,161,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65c0f1', endColorstr='#1bb6a1', GradientType=1 );

  }

  .sombra{
    -webkit-box-shadow: 16px 26px 10px -4px rgba(0,0,0,0.5);
-moz-box-shadow: 16px 26px 10px -4px rgba(0,0,0,0.5);
box-shadow: 16px 26px 10px -4px rgba(0,0,0,0.5);

  }

 
.icon-experiencia:hover {
    -webkit-transform:scale(1.3);transform:scale(1.3);
} 

.avatar:hover {
    -webkit-transform:scale(1.3);transform:scale(1.3);
} 

.icono-2:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
}

